{% extends 'index.html' %}

{% block content %}
    <h1>Login to your Account</h1>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button>Login</button>
                </form>
            </div>
        </div>
        <h2>create an account</h2>
        <a href="{% url 'register_url' %}" class="mr-3" style="text-decoration:none; color:#b6617d;">register</a>
    </div>
{% endblock %}