{% extends 'index.html' %}

{% block content %}
    <h1>Create New Account</h1>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button>Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}