{% extends 'index.html' %}

{% block content %}
    <h1>{{user.username}}'s dashboard.</h1>
    <div id="nav">
        <a href="{% url 'home' %}" class="mr-3" style="text-decoration:none; color:#b6617d;">go to homepage</a>
    </div>
{% endblock %}