<!DOCTYPE html>
<html>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Gilda+Display|Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'style3.css' %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <head>
        <title>Accounts Page</title>
    </head>
    <body>
        {% block content %}
            <h1>&#9829;	welcome home &#9829;</h1>
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="mr-3" style="text-decoration:none; color:#b6617d;">Logout</a>
                        {% else %}
                            <h2>have you registered your account?</h2>
                            <a href="{% url 'login_url' %}" class="mr-3" style="text-decoration:none; color:#b6617d; text-align: center;">Login</a>
                            <a href="{% url 'register_url' %}" class="mr-3" style="text-decoration:none; color:#b6617d; text-align: center;">Register</a>
                        {% endif %}   
                    </div>
                </div>
            </div>   
        {% endblock %}
    </body>
</html>