{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Gilda+Display|Playfair+Display|Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="nav">
        <a href="{% url 'myapp:home' %}" class="mr-3" style="text-decoration:none; color:#b6617d;">Write your feelings here</a>
        <a href="{% url 'myapp:profile' %}" style="text-decoration:none; color:#b6617d;">Get to Know Me</a>
    </div>

<div class='library'>
    <div class = "newsletter">
        <h1>what would you like to read today?</h1>

        <div class="search-box d-flex">
            <input class="form-control" type="search" id="field" name="" value="" placeholder="Type to search">
            <button class="search-btn" type="button" name="button"><i class="fas fa-search" aria-hidden="true"></i></button>
        </div>
      
        <div class="table-responsive mt-4">
            <table class="table table-light table-striped" id="books"></table>
        </div>
    </div> 
    
</div>
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="{% static 'script2.js' static %}"></script>

</body>
</html>

