<!DOCTYPE html>
<html>
    {% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Gilda+Display|Playfair+Display&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<head>
    <title>Profile Page</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'Kamila.jpg' %}" style="height: auto; width: 100%;">                
            </div>
            <div class="col-8">
                <div class="switcher-buttons">
                    <h5 id="click-info">click for a surprise</h5>
                    <div class="toggle-container">
                        <input type="checkbox" id="switch" name="theme"/><label for="switch">Toggle</label>
                    </div>
                </div>
                <div class="profile">
                    <div class="description">
                        <h1 id="name">kamila alifia.</h1>
                        <br></br>
                        <p>Hi, nice to meet you! My name is Kamila. I have an interest in programming and technology.</p>
                        <p>I am a Computer Science student at University of Indonesia, class of 2018.</p>
                        <p>Hopefully, I can build my own startup after I graduate from here.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div id="accordion">
        <h4>Activities</h4>
        <div>
            <p>Currently struggling to pass this semester. Please pray for me whoever read this.</p>
        </div>
        <h4>Experiences</h4>
        <div>
            <ul>
                <li>Staff of Liaison Officer - Open House Fasilkom UI 2019</li>
                <li>Staff of Fundraising - Compfest 11</li>
                <li>Vice Person in Charge of Sponsorship - CGT in Action</li>
                <li>Staff of Public Relation - Educare 2019</li>
                <li>Staff of Public Relation - Open House Fasilkom UI 2018</li>
                <li>Staff of Public Relation - Universiade 2018</li>
            </ul>
        </div>
        <h4>Achievements</h4>
        <div>
            <p>I don't want to brag, sorry :)</p>
        </div>
    </div>
    
    <div class="nav">
        <a href="{% url 'myapp:home' %}" class="mr-3" style="text-decoration:none; color:#b6617d;">Write your feelings here</a>
        <a href="{% url 'myapp:library' %}" style="text-decoration:none; color:#b6617d;">Search for a book</a>    
    </div>
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>