<!DOCTYPE html>
<html>
	{% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Gilda+Display|Playfair+Display&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<head>
	<title>Statuses Page</title>
</head>

<body>
	<div class="nav">
		<a href="{% url 'myapp:profile' %}" class="mr-3" style="text-decoration:none; color:#b6617d;">Get to Know Me</a>
		<a href="{% url 'myapp:library' %}" style="text-decoration:none; color:#b6617d;">Search for a Book</a>
	</div>
	
	<h1 class="mt-3">Halo, apa kabar?</h1>
	<form method="POST", action="{% url 'myapp:home' %}">
		{% csrf_token %}
		<div class="statusform mt-3">
			<h2>How are you?</h2>
			<div class="mt-3">
				<div class="fields text-center statusbar container pt-3" style="margin: auto;">
					{% for field in form %}
						<p>{{ field }}</p>
						{% endfor %}
				</div>
				<div class="d-flex justify-content-center mt-4">
					<button type="submit" class="submit" id="submit">Submit</button>
				</div>
			</div>
		</div>
	</form>
	
	<div class="statusposts container statusbar mt-4 mb-5">
		<h2 class="mt-3">Status</h2>
		{% if allStatus %}
		<div class="posted">
			{% for statuses in allStatus %}
				<hr>
				<div class="mt-3">
					<h3>{{ statuses.status }}</h3>
					{{ statuses.created_at }}
				</div>
			{% endfor %}
			<hr>
			<form method="POST" action="{% url 'myapp:delete' %}"> {% csrf_token %}
				<button type="submit" class="submit mb-4">Clear Statuses</button>
			</form>
		</div>
		{% else %}
			<h5>Your statuses will be shown here!</h5>
		{% endif %}
	</div>
</body>
</html>