body {
    /* background: url("../static/bg2.c30932408f0a.jpg") no-repeat;
    color: #fff;
    background-size: cover; */
    background-image:linear-gradient(60deg, #2e2e44, #4b3f61, #6d5983, #d687a1, #da6290);
    padding: 1rem;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 78px;
    color: #292c38;
    text-align: center;
}
h2{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: grey;
    text-align: center;
}
h3{
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    color: #76769e;
}
h5{
    font-family: 'Gilda Display', serif;
    font-size: 12px;
    color: #5a5252;
    text-align: center;
}
p{
    color: #dfdfdf;
}
li{
    color: #fdfdfd;
}
.statusbar{
    margin: auto;
    text-align: center;
    width: 100%;
    border: 2px solid #6191a7;
    border-radius: 4px;
}
.statuspost{
    margin: auto;
    width: 100%;
    border: 2px solid #6185a7;
    border-radius: 4px;
}
.submit{
    border-radius: 8px;
    background-color: #b7c2d3;
    color: #3a4c5c;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Gilda Display', serif;
}
#name{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    color: #dfdfdf;
    text-align: left;
}
#click-info{
    text-align: right;
    color: #5a5252;
}
/* Style the buttons that are used to open and close the accordion panel */
#accordion{
    background-color: #cbc1e200;
    color: #17031d;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS),
and when you move the mouse over it (hover) */
#active, #accordion:hover{
    background-color: #45304b60;
}
h4{
    border: 2px solid #dbc8e0;
    border-radius: 10px;
    padding: 7px;
    font-size: 16px;
    color: #dcc8e2;
}
/* Theme Switch */
.switcher-buttons{
  background-color: var(--bg-panel);
  margin: 1em;
  padding: 1em;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  grid-template-areas:
      "title switch"
      "content content";
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
label{
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}
label:after{
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
input:checked + label{
	background: var(--color-headings);
}
input:checked + label:after{
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
label:active:after{
	width: 45px;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}