body{
  background-image:linear-gradient(-90deg, #cfc1e9, #c6d1e9, #fce3e6, #ebdbdb);
  padding: 1rem;
}
h1{
  font-family: 'Playfair Display', serif;
  font-size: 78px;
  color: #c27777;
  text-align: center;
}
h2{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: grey;
  text-align: center;
}
h3{
  font-family: 'DM Serif Display', serif;
  font-size: 18px;
  color: #5c3a5c;
}
h5{
  font-family: 'Gilda Display', serif;
  font-size: 12px;
  color: #686666;
  text-align: center;
}
p{
  font-family: 'Gilda Display', serif;
  color: #915252;
}
li{
  font-family: 'Gilda Display', serif;
  color: #915252;
}
.statusbar{
  margin: auto;
  text-align: center;
  width: 100%;
  border: 2px solid #a76173;
  border-radius: 4px;
}
.statuspost{
  margin: auto;
  width: 100%;
  border: 2px solid #a76173;
  border-radius: 4px;
}
.submit{
  border-radius: 8px;
  background-color: #d3b7ba;
  color: #5c3a5c;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: 'Gilda Display', serif;
}
#name{
  font-family: 'Playfair Display', serif;
  font-size: 80px;
  color: #797676;
  text-align: left;
}
#click-info{
  text-align: right;
}
/* Style the buttons that are used to open and close the accordion panel */
#accordion{
  background-color: #fce3e600;
  color: #795555;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS),
and when you move the mouse over it (hover) */
#active, #accordion:hover{
  background-color: #ecdede;
}
h4{
  border: 1px solid #a76173;
  border-radius: 10px;
  padding: 7px;
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
  color: #a76173;
}
/* Theme Switch */
.switcher-buttons{
  background-color: var(--bg-panel);
  margin: 1em;
  padding: 1em;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: auto auto;
  grid-template-areas:
      "title switch"
      "content content";
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
label{
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}
label:after{
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
input:checked + label{
  background: var(--color-headings);
}
input:checked + label:after{
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
label:active:after{
	width: 45px;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}