body {
    background-image:linear-gradient(-90deg, #cfc1e9, #c6d1e9, #fce3e6, #ebdbdb);
    padding: 1rem;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 82px;
    color: #c27777;
    text-align: center;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #5f5f5f;
    text-align: center;
}
form {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #3f3e3e;
}
.container {
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #c2777741;
}
#nav {
    margin: 70px;
    text-align: center;
}